<div class="menu-footer bg-primary">
    <div class="container">
      <div>
        <a class="head-logo" href="index.html" title="Home page">
          <img src="./assets/images/ajedrez.png" class="img-fluid nav-logo-img" alt="Cookination logo" />
        </a>
      </div>
      <div class="uoc-footer uoc-nav">
        <button id="actionHome" onclick="ocultarTodo();">Home</button>
        <button id="actionPageTwo" onclick="mostrarPageTwo();">PageTwo</button>
        <button id="actionPageThree" onclick="mostrarPageThree();">Page Three</button>
        <button id="actionFour" onclick="mostrarPageFour();">Page Four</button>
      </div>
      <div class="footer-social">
        <a href="" target="_blank" title="Follow us on YouTube"><img src="./assets/images/icons/icon-youtube.svg"
            alt="logo youtube" /></a>
        <a href="" target="_blank" title="Follow us on facebook"><img src="./assets/images/icons/icon-facebook.svg"
            alt="logo facebook" /></a>
        <a href="" target="_blank" title="Follow us on Twitter"><img src="./assets/images/icons/icon-twitter.svg"
            alt="logo twitter" /></a>
      </div>
    </div>
  </div>
<footer class="uoc-footer">Carlos Vilela
    &copy; Universitat Oberta de Catalunya
</footer>