
<main class="main-portada">
    <h1 class="h1-portada">Tournament</h1>
    <h2 class="h2-portada">Chess player from everywhere</h2>
    <hr class="hr-portada">
    <p class="p-portada about">We are pleased to invite you to the search championship for new geniuses in the art of chess, come register and participate in a new edition where approximately 1000 people from different parts of the world will participate and virtual games will also be held for certain participants from other countries. Sign up to be the new chess genius 2023 edition.</p>
    <a class="a-portada" href="javascript:void(0)">Read more</a>
    <img class="img-portada" 
    src="../src/assets/images/portada/capacidades-ajedrez.jpg" 
    alt="Campeonato ajedres UOC 2023">
    <div class="location">
      <p class="p-portada">Open enrollment<br>The University School</p>
    </div>
    <button class="button-portada" type="button">Tour dates</button>
  </main>