<hr>
<h1 class="h1-members">Chess Club Members</h1>
<main>
    <div class="pageTwo-container">
        <div class="members-container-list">
            <div class="members-container-list-items">
                <article class="list-item">
                    
                        <img src="../src/assets/images/miembros/JuditPolgar.jpg" class="list-item-img"
                            alt="Judit Polgar">
                        <h3 class="list-item-title">Judit Polgar</h3>
                        <p class="p-miembros">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    
                </article>
                <article class="list-item">
                    
                        <img src="../src/assets/images/miembros/sinFoto.jpg" class="list-item-img" alt="Carlos Vilela">
                        <h3 class="list-item-title">Carlos Vilela</h3>
                        <p class="p-miembros">Separated they live in Bookmarksgrove right at coast of the Semantics.</p>                        
                </article>
                <article class="list-item">
                    
                        <img src="../src/assets/images/miembros/bohemio-hombre-concentracion-sus-dedos.jpg"
                            class="list-item-img" alt="Bohemio">
                        <h3 class="list-item-title">Bohemio</h3>
                         <p class="p-miembros">A small river named Duden flows by their place and supplies it</p>
                </article>
                <article class="list-item">
                    
                        <img src="../src/assets/images/miembros/sinFoto.jpg" class="list-item-img"
                            alt="Ligia Dominguez">
                        <h3 class="list-item-title">Ligia Dominguez</h3>
                        <p class="p-miembros">Separated they live in Bookmarksgrove right at coast of the Semantics.</p>
                </article>
                <article class="list-item">
                    
                        <img src="../src/assets/images/miembros/NijatAbasov.jpg" class="list-item-img"
                            alt="Nijat Abasov">
                        <h3 class="list-item-title">Nijat Abasov</h3>
                    <p class="p-miembros">Even the all-powerfull Poimting has no control about the blind texts</p>
                </article>
                <article class="list-item">
                    
                        <img src="../src/assets/images/miembros/MagnusCarlsen.jpg" class="list-item-img"
                            alt="Magnus Carlsen">
                        <h3 class="list-item-title">Magnus Carlsen</h3>
                    <p class="p-miembros">One day homever a samll line of blind text by the name of london Ipsum></p>
                </article>

            </div>
        </div>
    </div>
</main>
<h2>if necessary, more members can be added</h2>