<main>
    <div class="container-article">   
        <article>
        <figure>
            <img src="../src/assets/images/checkidCup.png"
                alt="Champions Chess Tour ChessKid Cup 2023" class="img-fluid-article">
            <figcaption class="centrado">Champions Chess Tour ChessKid Cup 2023 | <a
                    href="https://www.chess.com/events/info/2023-champions-chess-tour-chesskid-cup" target="_blank">visit pagin original</a> |
                No known copyright restrictions</figcaption>
        </figure>

        <header>
            <h1 class="centrado">Champions Chess Tour ChessKid Cup 2023</h1>
            <ul class="meta">
                <li><a href="#autor">By Author::Chess.com © 2023</a></li>
                <li><time datetime="2021-12-14">09 May 2023</time></li>
            </ul>
        </header>
        <br>
        <article>
            <div class="parrafo">
                <p class="p-article p-principal">With a $2,000,000 prize fund and the fiercest competitors in the world.</p>
                <p class="p-article p-secundario">The Champions Chess Tour 2023 (CCT) is a year-long chess circuit that merges the best features of past Champions Chess Tour editions with the Chess.com Global Championship. This event consists of six tournaments and culminates in live in-person Finals.</p>
            </div>
        </article>
        <br>
        <article>
            <ol>
                <li>GM <a href="https://www.chess.com/players/hikaru-nakamura" target="_blank" rel="noopener">Hikaru Nakamura</a> (Chessable Masters Division I winner)</li>
                <p>chess reading</p>
                <li>GM <a href="https://www.chess.com/players/fabiano-caruana" target="_blank" rel="noopener">Fabiano Caruana</a> (Chessable Masters Division I runner-up)</li>
                <p>chess reading</p>
                <li>GM <a href="https://www.chess.com/players/nodirbek-abdusattorov" target="_blank" rel="noopener">Nodirbek Abdusattorov</a> (Chessable Masters Division II winner)</li>
                <p>chess reading</p>
            </ol>
        </article>
        <p class="p-article">The Champions Chess Tour consists of six events, culminating in a Playoff and the Finals. The 2023 ChessKid Cup is the third event of the tour, and the winner of this event automatically qualifies for the Playoffs.</p>
        <p class="p-article">The event begins with a qualifying phase that is open to all non-grandmaster titled players. The successful qualifiers will then compete with grandmasters in the Play-in stage, with the top players moving on to a Knockout stage that has three divisions. Each division has its own prize fund, and players will also earn Tour Points based on their placement within each division. By the end of the tour's sixth event, the players with the highest Tour Points will earn a spot in the CCT Playoff.</p>
        <figure>
            <img src="../src/assets/images/Sahovska_olimpiada_Bled_2002_1.jpg"
                alt="The 35th Chess Olympiad, a chess tournament for teams" class="img-fluid-article">
            <figcaption class="centrado">The 35th Chess Olympiad, a chess tournament for teams | <a
                    href="https://en.wikipedia.org/wiki/Chess_tournament#/media/File:Sahovska_olimpiada_Bled_2002_1.JPG" target="_blank">ver imagen original</a> |
                No known copyright restrictions</figcaption>
        </figure>

        <p class="p-article">A <b>chess tournament</b> is a series of <a href="/wiki/Chess" title="Chess">chess</a> games played competitively to determine a winning individual or team. Since the first international chess tournament in <a href="/wiki/London_1851_chess_tournament" title="London 1851 chess tournament">London, 1851</a>, chess tournaments have become the standard form of chess competition among serious players.
        </p>
        <p class="p-article">Today, the most recognized chess tournaments for individual competition include the <a href="/wiki/Candidates_Tournament" title="Candidates Tournament">Candidates tournament</a>, <a href="/wiki/Linares_chess_tournament" class="mw-redirect" title="Linares chess tournament">Linares chess tournament</a> (now defunct) and the <a href="/wiki/Corus_chess_tournament" class="mw-redirect" title="Corus chess tournament">Tata Steel chess tournament</a>. The largest team chess tournament is the <a href="/wiki/Chess_Olympiad" title="Chess Olympiad">Chess Olympiad</a>, in which players compete for their country's team in the same fashion as the <a href="/wiki/Olympic_Games" title="Olympic Games">Olympic Games</a>. Since the 1960s, <a href="/wiki/Computer_chess" title="Computer chess">chess computers</a> have occasionally entered human tournaments, but this is no longer common.
        </p>
    </article> 
    </div>
</main>